#svg-main {
    position: absolute;
    margin-left: 200px;
    z-index: -1;
    width: 90%;
    height: 90%;
}

body {
	background-color: black;
    z-index: -100;
}

img {
	display: block;
	margin: auto;
}

#pie-chart {
    position: absolute;
    margin-top: 550px;
    margin-left: -200px;
    display: none;
    color:white;
    font-family: 'Source Sans Pro', sans-serif;;
}

/*#pie-chart2 {
    position: absolute;
    margin-top: 550px;
    margin-left: -200px;
    display: none;
    color:white;
    font-family: 'Source Sans Pro', sans-serif;;
}*/

#exports {
    color: white;
    background-color: white;
}

#Trade_map {
    display:none;
}

#Tulip_cycle {
	display:none;
}

#Dahlia_cities circle{
	z-index: 1;
}

#Dahlia_paths>g {
display: none;

}

#Tulip_paths>g {
display: none;

}

#Dahlia_originalSpread {
display: none;

}

#Tulip_originalSpread {
	display: none;
}

#Dahlia_cities {
	display: none;
}

#Tulip_cities {
	display: none;
}

#label {
	color:white;
	font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: 2px;
    width: 435px;
    margin: 5px;
    color: white;
    padding: 5px 5px;
    margin-top: 30px;
    font-size: 20px;
    cursor: pointer
    z-index: 1000; 
    border-bottom: thin solid;
    text-align: center;
}


#dahlia-text-box p { 
	position: relative;
	display: none;
	width: 480px;
    margin-top: 100px;
	color: white;
	font-family: 'Source Sans Pro', sans-serif; 

}

#tulip-text-box p { 
	position: relative;
	display: none;
    width: 480px;
    margin-top: 100px;
	color: white;
	font-family: 'Source Sans Pro', sans-serif; 

}

/* Modals */

.modal-title {
	font-size: 20px;
	color: white;
	text-decoration: underline;
	font-family: 'Source Sans Pro', sans-serif; 
}

.modal {
	display: none;
    width: 600px;
    height: 125px;
    background-color: gray;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    z-index: 10000;
}

.data-modal {
    display: none;
    width: 600px;
    height: 600px;
    background-color: gray;
    position: absolute;
    margin: 0 auto;
    margin-top: 50px;
    left: 0;
    right: 0;
    padding: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    z-index: 10000;
}


.info-body {
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
}


.dahliaInfoBox {
	display: none;
    width: 400px;
    opacity: 0.9;
    height: 500px;
    position: absolute;
    margin: 0 auto;
    margin-top: 50px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
    padding: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    z-index: 100;
}

.tulipInfoBox {
	display: none;
    width: 400px;
    opacity: 0.9;
    height: 500px;
    position: absolute;
    margin: 0 auto;
    margin-top: 50px;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 100;
    padding: 30px;
    font-family: 'Source Sans Pro', sans-serif;
    z-index: 100;
}


.map-overlay {
  position: absolute;
  bottom:0;
  left:0;
  background: rgba(255, 255, 255, 0.8);
  margin-right: 20px;
  font-family: 'Source Sans Pro', sans-serif;
  overflow: auto;
  border-radius: 3px;
}

.modal .close-button {
	color: #ccc;
	position: absolute;
	right: 0;
	top: 0;
	margin: 10px;
	line-height: 30px;
	font-size: 30px;
    border: none;
    background: none;
    cursor: pointer;
}

.modal .close-button:hover { 
	color: #bbb;
}

.button-default {
	background: pink;
	font-size: 12px;
	letter-spacing: 2px;
    color: white;
    border: none;
    margin: 4px;
    padding: 10px 10px;
	font-family: 'Source Sans Pro', sans-serif;
}

/* About this Map Button */
.button-about {
    position: absolute;
    right: 20px;
    top: 20px;
    letter-spacing: 2px;
    background: white;
    color: black;
    border: none;
    padding: 10px 10px;
    font-size: 12px;
    font-family: 'Source Sans Pro', sans-serif;
    cursor: pointer 
    z-index: 1000;
}